@model BugTracker.Models.AttachmentModels.AttachmentDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AttachmentDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            <div class="well col-lg-6"><p class="text-truncate">@Html.DisplayFor(model => model.URL)</p></div>
</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attachedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attachedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Ticket", "../Ticket/Details", new { id = Model.TicketId }) |
    @Html.ActionLink("Tickets", "../Ticket/Index")
</p>
