@model BugTracker.Models.CommentModels.CommentDetails

@{
    ViewBag.Title = "Details";
}

<h2>Comment Details</h2>

<div>
    <h4>Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content):
        </dt>

        <dd>
            <div class="well col-lg-6"><p class="text-truncate">@Html.DisplayFor(model => model.Content)</p></div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commentby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketName)
        </dd>

    </dl>
</div>
<p>
    @* @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to Ticket", "../Ticket/Details", new { id = Model.TicketId }) |

    @Html.ActionLink("All Tickets", "../Ticket/Index")
</p>
