@model BugTracker.Models.TicketModels.TicketDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<div>
    <h4>TicketDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeingAddressed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeingAddressed)
        </dd>

    </dl>
</div>
<table class="table">
    @if (Model.Comments.Count == 0)
    {
       <h4 class="text-warning alert ">No Comments</h4>
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th class="hidden-sm hidden-xs">
                Posted By
            </th>
        </tr>

        foreach (var item in Model.Comments)
        {
            @Html.HiddenFor(modelItem => item.Id)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td  class="hidden-sm hidden-xs">
                    @Html.DisplayFor(modelItem => item.Commentby)
                </td>
                <td>
                    @Html.ActionLink("Edit", "../Comment/Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "../Comment/Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "../Comment/Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
<p>
    @Html.ActionLink("Comment", "../Comment/Create", new { id = Model.Id }) |
    @Html.ActionLink("Attachments", "../Attachment/Index", new { id = Model.Id }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

