@model IEnumerable<BugTracker.Models.TicketModels.TicketListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Tickets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            <div class="hidden-xs"> @Html.DisplayNameFor(model => model.Name) <span class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
            <div class="hidden-lg hidden-md hidden-sm"> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
        </th>
        <th>
            <div class="hidden-xs"> @Html.DisplayNameFor(model => model.CreatedUtc) <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
            <div class="hidden-lg hidden-md hidden-sm"> <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>

        </th>
        <th>
            <div class="hidden-xs"> @Html.DisplayNameFor(model => model.CreatedBy) <span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
            <div class="hidden-lg hidden-md hidden-sm"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>

        </th>
        <th>
            <div class="hidden-xs hidden-sm"> @Html.DisplayNameFor(model => model.BeingAddressed) <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
            <div class="hidden-lg hidden-md"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>

        </th>
        <th>
            <div class="hidden-xs hidden-sm"> @Html.DisplayNameFor(model => model.Completed) <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></div>
            <div class="hidden-lg hidden-md"> <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></div>

        </th>
        <th>
            <div class="hidden-xs"> Options  <span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>
            <div class="hidden-lg hidden-md hidden-sm"> <span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (!item.BeingAddressed && !item.Completed)
        {
            <tr class="warning">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                </td>
                <td>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                            @if (item.UserIsAdmin)
                            {
                                <li title="Edit">@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" })</li>
                                @* <li><a href='@string.Format("https://localhost:44337/Ticket/Edit/{0}", item.Id)'><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a></li>*@
                            }
                            else
                            {
                                <li title="Edit">@Html.ActionLink(" ", "UserEdit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" })</li>

                                @*<li><a href='@string.Format("https://localhost:44337/Ticket/UserEdit/{0}", item.Id)'><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a></li>*@
                            }
                            <li title="Details">@Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "glyphicon glyphicon-list" })</li>

                            @*<li><a href='@string.Format("https://localhost:44337/Ticket/Details/{0}", item.Id)'><span class="glyphicon glyphicon-list" aria-hidden="true" title="Details"></span></a></li>*@
                            <li role="separator" class="divider"></li>
                            @if (item.UserIsAdmin)
                            {
                                <li title="Delete">@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash" })</li>

                               @* <li><a href='@string.Format("https://localhost:44337/Ticket/Delete/{0}", item.Id)'><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span></a></li>*@
                            }

                        </ul>
                    </div>

                </td>
            </tr>
        }
        if (item.BeingAddressed && !item.Completed)
        {
            <tr class="info">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Options
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (item.UserIsAdmin)
                            {
                                <li title="Edit">@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" })</li>
                            }
                            else
                            {
                                <li title="Edit">@Html.ActionLink(" ", "UserEdit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" })</li>
                            }

                            <li title="Details">@Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "glyphicon glyphicon-list" })</li>

                            <li role="separator" class="divider"></li>
                            @if (item.UserIsAdmin)
                            {
                                <li title="Delete">@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash" })</li>
                            }

                        </ul>
                    </div>
                </td>
            </tr>
        }
        if (!item.BeingAddressed && item.Completed)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                </td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Options
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (item.UserIsAdmin)
                            {
                                <li title="Edit">@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" })</li>
                            }
                            else
                            {
                                <li title="Edit">@Html.ActionLink(" ", "UserEdit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" })</li>
                            }

                            <li title="Details">@Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "glyphicon glyphicon-list" })</li>

                            <li role="separator" class="divider"></li>
                            @if (item.UserIsAdmin)
                            {
                                <li title="Delete">@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash" })</li>
                            }

                        </ul>
                    </div>
                </td>
            </tr>
        }
        if (item.BeingAddressed && item.Completed)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Options
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (item.UserIsAdmin)
                            {
                                <li title="Edit">@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" })</li>
                            }
                            else
                            {
                                <li title="Edit">@Html.ActionLink(" ", "UserEdit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" })</li>
                            }

                            <li title="Details">@Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "glyphicon glyphicon-list" })</li>

                            <li role="separator" class="divider"></li>
                            @if (item.UserIsAdmin)
                            {
                                <li title="Delete">@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash" })</li>
                            }

                        </ul>
                    </div>
                </td>
            </tr>
        }


    }

</table>
