@model IEnumerable<BugTracker.Models.TicketModels.TicketListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Tickets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeingAddressed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (!item.BeingAddressed && !item.Completed)
        {
            <tr class="warning">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                </td>
                <td>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                            @if (item.UserIsAdmin)
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/Edit/{0}", item.Id)'><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a></li>
                            }
                            else
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/UserEdit/{0}", item.Id)'><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a></li>
                            }
                            <li><a href='@string.Format("https://localhost:44337/Ticket/Details/{0}", item.Id)'><span class="glyphicon glyphicon-list" aria-hidden="true" title="Details"></span></a></li>
                            <li role="separator" class="divider"></li>
                            @if (item.UserIsAdmin)
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/Delete/{0}", item.Id)'><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span></a></li>
                            }

                        </ul>
                    </div>

                </td>
            </tr>
        }
        if (item.BeingAddressed && !item.Completed)
        {
            <tr class="info">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Options
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (item.UserIsAdmin)
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/Edit/{0}", item.Id)'><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a></li>
                            }
                            else
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/UserEdit/{0}", item.Id)'><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a></li>
                            }
                            <li><a href='@string.Format("https://localhost:44337/Ticket/Details/{0}", item.Id)'><span class="glyphicon glyphicon-list" aria-hidden="true" title="Details"></span></a></li>
                            <li role="separator" class="divider"></li>
                            @if (item.UserIsAdmin)
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/Delete/{0}", item.Id)'><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span></a></li>
                            }

                        </ul>
                    </div>
                </td>
            </tr>
        }
        if (!item.BeingAddressed && item.Completed)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                </td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Options
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (item.UserIsAdmin)
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/Edit/{0}", item.Id)'><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a></li>
                            }
                            else
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/UserEdit/{0}", item.Id)'><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a></li>
                            }
                            <li><a href='@string.Format("https://localhost:44337/Ticket/Details/{0}", item.Id)'><span class="glyphicon glyphicon-list" aria-hidden="true" title="Details"></span></a></li>
                            <li role="separator" class="divider"></li>
                            @if (item.UserIsAdmin)
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/Delete/{0}", item.Id)'><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span></a></li>
                            }

                        </ul>
                    </div>
                </td>
            </tr>
        }

        if (item.BeingAddressed && item.Completed)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Options
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (item.UserIsAdmin)
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/Edit/{0}", item.Id)'><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a></li>
                            }
                            else
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/UserEdit/{0}", item.Id)'><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span></a></li>
                            }
                            <li><a href='@string.Format("https://localhost:44337/Ticket/Details/{0}", item.Id)'><span class="glyphicon glyphicon-list" aria-hidden="true" title="Details"></span></a></li>
                            <li role="separator" class="divider"></li>
                            @if (item.UserIsAdmin)
                            {
                                <li><a href='@string.Format("https://localhost:44337/Ticket/Delete/{0}", item.Id)'><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span></a></li>
                            }

                        </ul>
                    </div>
                </td>
            </tr>
        }


    }

</table>
